<html>
  <head>
    <title>ノードのてすとだよ</title>
  </head>
  <body>
    <div id="test_field">
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/client.js"></script>
  </body>
</html>
